@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>
        I'm Stefano, a passionate Software Developer student at the
        Manitoba Institute of Trades and Technology, proudly calling
        Winnipeg, Manitoba, Canada 🍁, my second home.
    </p>
    <p>
        I've always been fascinated by technology and the incredible
        ways it can improve people's lives. My journey in the world of
        software development has been quite an adventure, filled with
        its fair share of challenges and rewards.
    </p>
    <div>
        <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/67341828?v=4" alt="Stefano Turcarelli">
    </div>
</main>